pandas
scikit-learn
nltk
blinker==1.8.2
click==8.1.7
colorama==0.4.6
dnspython==2.6.1
flask==3.0.3
flask-marshmallow==1.2.1
Flask-PyMongo==2.3.0
importlib-metadata==8.4.0
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.22.0
packaging==24.1
pymongo==4.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.16.0
werkzeug==3.0.4
zipp==3.20.1
gunicorn